<h1>All Products</h1>
<a href="/admin/products/add">Add New Product</a>
<ul>
  <% products.forEach(p => { %>
    <li>
      <%= p.title %> - $<%= p.price %>
      <a href="/admin/products/edit/<%= p._id %>">Edit</a>
      <form method="POST" action="/admin/products/delete/<%= p._id %>" style="display:inline;">
        <button type="submit">Delete</button>
      </form>
    </li>
  <% }) %>
</ul>
